<h1>Bitcoin Price Prediction</h1>

Hit the button see the price prediction.
<br/><br/>
<%= link_to "Predict BTC price", "/crypto/predict" %>
<!-- <br/><br/> -->
<!--  <%= link_to "Load data to database", "/crypto/load" %> -->
<br/><br/>
<%= link_to "Start training", "/crypto/setup" %>
<br/><br/>
<%= link_to "Test the model", "/crypto/test" %>
<br/><br/>
<%= link_to "View the database", "/crypto/view" %><br/>
<%= link_to "Delete test runs", "/crypto/deleteruns" %><br/>
<%= link_to "Baseline error rates", "/crypto/baseline" %><br/>
<%= link_to "Enter new data", "/crypto/enterdata" %><br/>
<%= link_to "Run the price update job", "/crypto/priceupdate" %><br/>
